// .cart {
//   //   border: 2px solid black;
//   margin: 10px 120px;

//   .headings {
//     display: grid;
//     grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
//     align-items: center;
//     gap: 75px;
//     padding: 20px 0px;
//     color: #454545;
//     font-size: 21px;
//     font-weight: 600;
//   }
// }
// .item_format {
//   font-size: 12px;
//   font-weight: 500;
//   display: flex;
//   flex-direction: row;
//   gap: 80px;
// }
// .carticon {
//   height: 62px;
// }
// .remove-icon {
//   width: 15px;
//   margin: 0px 40px;
//   cursor: pointer;
// }
// .quantity {
//   width: 74px;
//   height: 50px;
//   border: 2px solid #ebebeb;
//   background: #fff;
// }
// .cartitem_down {
//   display: flex;
//   margin: 100px 0px;
// }
// .total {
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   margin-right: 200px;
//   gap: 40px;
// }
// .total_item {
//   display: flex;
//   justify-content: space-between;
//   padding: 15px 0px;
// }
// .total button {
//   width: 262px;
//   height: 58px;
//   border: none;
//   outline: none;
//   background: #ff5a5a;
//   color: #fff;
//   font-size: 16px;
//   font-weight: 800;
//   cursor: pointer;
// }
// .promocode {
//   font-size: 16px;
//   font-weight: 500;
// }
// .promocode p {
//   color: #555;
// }
// .promobox {
//   display: flex;
//   gap: 1px;
//   width: 504px;
//   margin-top: 15px;
//   padding-left: 20px;
//   height: 58px;
//   background: #eaeaea;
// }
// .promobox input {
//   border: none;
//   outline: none;
//   background: transparent;
//   font-size: 16px;
//   width: 330px;
//   height: 50px;
// }
// .promobox button {
//   width: 170px;
//   height: 58px;
//   font-size: 16px;
//   background: black;
//   cursor: pointer;
//   color: white;
// }
// @media (max-width: 500px) {
//   .headings {
//     grid-template-columns: 1fr 1fr; /* Changed grid layout for smaller screens */
//     gap: 10px; /* Reduced gap further for smaller screens */
//     padding: 5px 0px; /* Reduced padding further for smaller screens */
//     font-size: 14px; /* Adjusted font size further for smaller screens */
//     width: 100%;
//   }
// }

// .item_format {
//   font-size: 12px;
//   font-weight: 500;
//   display: flex;
//   flex-direction: row;
//   gap: 20px; /* Reduced gap for smaller screens */
// }
.cartitems {
  margin: 100px 170px;
}

.cartitems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}
.main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 20px 0px;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}
.item_format {
  font-size: 17px;
  font-weight: 500;
}
.carticon {
  height: 62px;
}
.remove-icon {
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}
.quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: #fff;
}
.cartitem_down {
  display: flex;
  margin: 100px 0px;
}
.total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;
}
.total_item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.total button {
  width: 262px;
  height: 58px;
  border: none;
  outline: none;
  background: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}
.promocode {
  font-size: 16px;
  font-weight: 500;
}
.promocode p {
  color: #555;
}
.promobox {
  display: flex;
  gap: 1px;
  width: 504px;
  margin-top: 15px;
  padding-left: 20px;
  height: 58px;
  background: #eaeaea;
}
.promobox input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  width: 330px;
  height: 50px;
}
.promobox button {
  width: 170px;
  height: 58px;
  font-size: 16px;
  background: black;
  cursor: pointer;
  color: white;
}
@media (max-width: 1280px) {
  .cartitems {
    margin: 60px 50px;
  }
  .main {
    grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 20px;
    padding: 15px 0px;
    font-size: 15px;
  }
  .carticon {
    height: 50px;
  }
  .remove-icon {
    margin: auto;
  }
  .quantity {
    width: 40px;
    height: 30px;
  }

  .cartitem_down {
    margin: 80px 0px;
    flex-direction: column;
    gap: 80px;
  }
  .total {
    margin: 0;
  }
  .total bottom {
    max-width: 200px;
    height: 45px;
    font-size: 13px;
  }
  .promobox {
    width: auto;
    max-width: 500px;
  }
  .promobox input {
    width: 100%;
  }
  .promobox button {
    width: 120px;
    margin-left: -125px;
  }
}
@media (max-width: 500px) {
  .main {
    display: none;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    gap: 10px;
  }
  .item_format {
    display: grid;
  }
}
